# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=24ezss24
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_TOKEN=your_sanity_manager_token

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=ddskiyir6
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_UPLOAD_PRESET=jaxunico_unsigned

# Airtable
AIRTABLE_API_TOKEN=your_airtable_personal_access_token
AIRTABLE_DIRECTORY_BASE_ID=app6CeBxi2inbKZ6z

# Directory Webhook
DIRECTORY_WEBHOOK_SECRET=jaxunico-approve-2025
